@model GM11.Models.GMViewModels.CarIndexData /*GM011.Models.Car*/

@{
    ViewData["Title"] = "FindCars";
}

<header>
    <div class="container-fluid HeaderPic">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Green Mile</div>
                <div class="intro-heading">We are not ready yet!</div>
            </div>
            @*start of from*@

            @using (Html.BeginForm("FindCars", "Home"))
            {
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up Date</label>
                                <input name="DateIn" id="start_datepicker" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Return Date</label>
                                <input name="DateOut" id="end_datepicker" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up location </label>
                                <select class="form-control" type="datetime-local">
                                    <option>Reykjavik</option>
                                    <option>Keflavik</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up return location</label>
                                <select class="form-control" type="datetime-local">
                                    <option>Reykjavik</option>
                                    <option>Keflavik</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>

                    </div>
                </div>
            }


        </div>
    </div>
</header>

<section>
    <div class="row">
        <div class="sectionProducts col-md-8 col-md-offset-2 wrapperShadow">
            <div class="row ">
                <div class="col-lg-12">
                    <header class="page-header ProductSection">
                        <h2 class="ProductSection sectionTitle">
                            Found Vehicles
                        </h2>
                    </header>

                </div>
            </div>
            <div class="row rowPadding">

                @foreach (var item in Model.Cars)
                {
                    <div class="col-lg-12">
                        <div class="CarInfo">
                            <div class="col-lg-2">
                                <div class="Car_picture">
                                    <img src="~/images/@Html.DisplayFor(model => item.CarType.ImagePath)" />
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <table class="SingleCarFound">
                                    <tr>
                                        <td class="InfoTag">Reg Number</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.RegNo)</td>
                                        <td class="InfoTag">Service ID</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.ServiceID)</td>
                                        <td class="InfoTag">Year</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.Year)</td>
                                        <td class="InfoTag">Current Milage</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.CurrentMilage)</td>
                                    </tr>
                                    <tr>
                                        <td class="InfoTag">Next Service Milage</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.NextServiceMilage)</td>
                                        <td class="InfoTag">Doors</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.Doors)</td>
                                        <td class="InfoTag">Seats</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.Seats)</td>
                                        <td class="InfoTag">Fuel in Liters</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.Fuel)</td>
                                    </tr>
                                    <tr>
                                        <td class="InfoTag">Fuel per KM</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.FuelPerKM)</td>
                                        <td class="InfoTag">Transmission</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.Transmission)</td>
                                        <td class="InfoTag">Car Type</td>
                                        <td class="Info">@Html.DisplayFor(modelItem => item.CarType)</td>
                                        <td class="InfoTag"></td>
                                        <td class="Info">Button</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                }

           
            </div>

        </div>
    </div>
</section>