@model IEnumerable<GM011.Models.Car>

@{
    ViewData["Title"] = "FindCars";
}

<header>
    <div class="container-fluid HeaderPic">
        <div class="slider-container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome to Green Mile</div>
                <div class="intro-heading">We are not ready yet!</div>
            </div>
            @*start of from*@

            @using (Html.BeginForm("FindCars", "Home"))
            {
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up Date</label>
                                <input name="DateIn" id="start_datepicker" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Return Date</label>
                                <input name="DateOut" id="end_datepicker" class="form-control" type="text" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up location </label>
                                <select class="form-control" type="datetime-local">
                                    <option>Reykjavik</option>
                                    <option>Keflavik</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="lbl_text"> Pick Up return location</label>
                                <select class="form-control" type="datetime-local">
                                    <option>Reykjavik</option>
                                    <option>Keflavik</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary">Submit</button>

                    </div>
                </div>
            }


        </div>
    </div>
</header>

<section>
    <div class="row">
        <div class="sectionProducts col-md-8 col-md-offset-2 wrapperShadow">
            <div class="row ">
                <div class="col-lg-12">
                    <header class="page-header ProductSection">
                        <h2 class="ProductSection sectionTitle">
                            Found Vehicles
                        </h2>
                    </header>

                </div>
            </div>

            <div class="row rowPadding">
                <div class="col-lg-12">
                    @foreach (var item in Model)
                    {
                            <div class="Car">

                                <div class="col-lg-4">
                                    <div class="CarPic">
                                        <img src="~/images/@Html.DisplayFor(model => item.CarType.ImagePath)" />
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="CarInfo">

                                        <table class="tableCarInfo">

                                            <tr>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.CarType)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.CarType.Model)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.RegNo)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.RegNo)
                                                </td>
                                                <td class="tdCarNaming">
                                                     @Html.DisplayNameFor(model => model.ServiceID)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.ServiceID)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.CurrentMilage)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.CurrentMilage)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.Transmission)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.Transmission)
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.Year)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.Year)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.Doors)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.Doors)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.Seats)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.Seats)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.Fuel)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.Fuel)
                                                </td>
                                                <td class="tdCarNaming">
                                                    @Html.DisplayNameFor(model => model.FuelPerKM)
                                                </td>
                                                <td class="tdCarInfo">
                                                    @Html.DisplayFor(model => item.FuelPerKM)
                                                </td>
                                            </tr>
                                        </table>

                                        <div class="chooseCar">
                                            <input type="submit" name="ChooseCar" class="btn btn-secondary" value="Choose" />
                                        </div>


                                        @*<script src="~/js/site.js" type="text/javascript">
                                             ShowCar(@Html.DisplayNameFor(model => model.RegNo), @Html.DisplayFor(model => item.RegNo), @Html.DisplayNameFor(model => model.ServiceID), @Html.DisplayFor(model => item.ServiceID), @Html.DisplayNameFor(model => model.CurrentMilage), @Html.DisplayFor(model => item.CurrentMilage), @Html.DisplayNameFor(model => model.Doors), @Html.DisplayFor(model => item.Doors), @Html.DisplayNameFor(model => model.Seats), @Html.DisplayFor(model => item.Seats), @Html.DisplayNameFor(model => model.Fuel), @Html.DisplayFor(model => item.Fuel), @Html.DisplayNameFor(model => model.FuelPerKM), @Html.DisplayFor(model => item.FuelPerKM), @Html.DisplayNameFor(model => model.Transmission), @Html.DisplayFor(model => item.Transmission), @Html.DisplayNameFor(model => model.CarType), "Ford" @Html.DisplayFor(model => item.CarType));
                                        </script> !DOES NOT WORK! *@
                                    </div>
                                </div>

                            </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>
