@model GM11.Models.GMViewModels.CarIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                RegNo
            </th>
            <th>
                ServiceID
            </th>
            <th>
                Year
            </th>
            <th>
                CurrentMilage
            </th>
            <th>
                NextServiceMilage
            </th>
            <th>
                Doors
            </th>
            <th>
                Seats
            </th>
            <th>
                Fuel
            </th>
            <th>
                FuelPerKM
            </th>
            <th>
                Transmission
            </th>
            <th>
                CarType
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Cars)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentMilage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextServiceMilage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Doors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FuelPerKM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transmission)
                </td>
                <td>
                    @{
                        foreach (var ct in item.CarType.Model)
                        {
                            @Html.DisplayForModel(ct)

                        }
                    }
                </td>


                <td>
                    <a asp-action="Index" asp-route-id="@item.CarID">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.CarID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.CarTypes != null)
{
    <h3>Sub information in Car</h3>
    <table class="table">
        <tr>
            <th></th>
            <th>Number</th>
            <th>Title</th>
            <th>Department</th>
        </tr>

        @foreach (var item in Model.CarTypes)
        {
            string selectedRow = "";
            if (item.CarTypeID == (int?)ViewData["CarTypeID"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select", "Index", new { CarTypeID = item.CarTypeID })
                </td>
                <td>
                    @item.CarTypeID
                </td>
                <td>
                    @item.Model
                </td>
                <td>
                    @item.Type
                </td>
            </tr>
        }

    </table>
}